*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-color: rgb(123, 123, 123);
    overflow: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(21, 1fr);
    width: 100vw;
    height: 100vh;
}

.out{
    background-color: rgb(123, 123, 123);
}

.top{
    display: flex;
    flex-direction: row;
    grid-column: span 32;
    align-items: center;
}

.left{
    grid-row: span 21;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.left-side{
    display: flex;
    background-color: rgb(63, 67, 67);
    border-radius: 1rem 0 0 0;
    grid-column: span 7;
    grid-row: span 20;
    border-top: 2px solid rgb(158, 156, 153);
    border-left: 1px solid rgb(158, 156, 153);
}

.main-side{
    background-color: rgb(27, 26, 26);
    grid-column: span 24;
    grid-row: span 20;
    border-top: solid 2px rgb(158, 156, 153);
}

.top img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 5px;
    top: 8px;
    cursor: default;
}

.top h1{
    position: relative;
    left: 15px;
    font-family: "Ubuntu", serif;
    font-size: medium;
    bottom: 2px;
    color: rgb(215, 215, 215);
    top: 5px;
    cursor: default;
}

.ham-div{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    gap: 5px;
    position: relative;
    top: 5px;
}

.left svg{
    cursor: pointer;
}

.left .img{
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.ham-div span{
    border: 1px solid;
    width: 15px;
}

*{
    color: rgb(48, 47, 46);
}

.svg:hover, .left #img:hover{
    display: flex;
    border: 1px solid rgb(160, 160, 160);
    width: 35px;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
    border-radius: 1rem;
}

.ham-div:hover{
    border-radius: 1rem;
    background-color: rgb(169, 169, 169);
    border: 1px solid;
}

.left-open{
    width: 250px;
    align-items: start;
    padding-left: 14.5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 123, 123);
    top: 40px;
    height: 100vh;
}

.left-open .ham-div{
    padding-left: 5px;
}


.ham-div-close{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: relative;
    top: 10px;
    left: 3px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.ham-div-close span{
    border: 1px solid;
    width: 15px;
}

.left .phone-pic-close img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.ham-div-close:hover{
    border-radius: 1rem;
    background-color: rgb(169, 169, 169);
    border: 1px solid;
    padding: 10px;
}

.left-open a{
    text-decoration: none;
}

.svg-close{
    display: flex;
    width: 10rem;
    height: 2rem;
    gap: 10px;
    align-items: center;
}

.phone-pic-close{
    width: 10rem;
    height: 2rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.left-open{
    border-left: 1px solid rgb(160, 160, 160);
    box-shadow: 0 5px 5px rgb(215, 215, 215);
    border-radius: 0 1rem 0 0;
}

.svg-close a:hover, .phone-pic-close a:hover{
    color: black;
}


.left-open{
    display: none;
}